body {
    overflow: hidden;
  
    margin: 0;
    padding: 0;
    font-family: "Helvetica Neue";
    font-size: 14px;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

.container {
    display: grid;
    grid-template-columns: auto minmax(var(--minWorkspaceWidth),1fr) auto;
    /* border: 2px solid green; */
    height: 50px;
    --height: 100vh;
    --minWorkspaceWidth: 100px;
}
.item {
    box-sizing: border-box;
    height: var(--height);
    width: 295px;
    position: relative;
    /* position: absolute; */
    background: orange;
   
    /* border-right: 5px solid black; */
    }

.item.left {
    border-right: 5px solid lightgray;
}

.item.right {
    border-left: 5px solid lightgray;
}


.item.collapsed {
  border-right: 0px solid lightgrey;
  width: 25px;
  background-color: lightgray;
}

    .workspace {
        height: var(--height);
        width:100%;
        /* background-color: red; */
        box-sizing: border-box;
    }

    .item.left > .bar {
        position: absolute;
        height:var(--height);
        width: 5px;
        background-color: transparent;
        z-index: 10;
        right: -5px;
        top: 0px;
        cursor: ew-resize;;
    }

    .item.right > .bar {
        position: absolute;
        height:var(--height);
        width: 5px;
        background-color: transparent;
        z-index: 10;
        left: -5px;
        top: 0px;
        cursor: ew-resize;;
    }

    .resizer {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 5px;
    background-color: black;
    z-index: 2;
    }
    .resizer .nw{
    top: -1px;
    left: -1px;
    cursor: nw-resize;
    }
    .resizer .ne{
    top: -1px;
    right: -1px;
    cursor: ne-resize;
    }
    .resizer .sw{
    bottom: -1px;
    left: -1px;
    cursor: sw-resize;
    }
    .resizer .se{
    bottom: -1px;
    right: -1px;
    cursor: se-resize;
    }


    /* #leftBtn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        height: 22px;
        width: 22px;
        font-size: 20px;
        color: rgb(51, 51, 51);
        background-color: #ffffff;
        border: 1px solid #ddd;
        border-radius: 3px;
        z-index: 10;
        right: -26px;
      }
      
      #leftBtn.collapsed {
        right: -21px;
      } */

      /* #rightBtn {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        top: 50px;
        height: 22px;
        width: 22px;
        font-size: 20px;
        color: rgb(51, 51, 51);
        background-color: #ffffff;
      
        border: 1px solid #ddd;
        border-radius: 3px;
        z-index: 10;
        left: -26px;
      }
      
      #rightBtn.collapsed {
        left: -26px;
      }
        */

      button {
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
       
        height: 22px;
        width: 22px;
        font-size: 20px;
        color: rgb(51, 51, 51);
        background-color: #ffffff;
        /* outline-color: gainsboro; */
        border: 1px solid #ddd;
        border-radius: 3px;
        z-index: 10;
        
      }

      .item.left > button {
        right: -26px;
        top: 50px;

      }

      .item.right > button {
        left: -26px;
        top: 50px;

      }


      #reportoptions {
        /* background-color: #fff; */
        color: #1a363c;
        padding: 3px 3px 0px 15px;
        padding 0;
        margin: 0;
        height: 20px;
        height: 150px;
        width: 100vw;
        font-size: 14px;
        font-weight: bold;
        line-height: 20px;
        text-size-adjust: 100%;
        /* grid-area: reportoptions; */
        position: fixed;
        bottom: -3px;
        display: flex;
        align-items: center;
        border-top: 20px solid gainsboro;
    }

    #reportoptions.collapsed {
        height: 0px;
    }

    #reportoptions > #title {
        position: absolute;
        top: -20px;
        color: #1a363c;
        /* color: greenyellow; */
    }

    /* #reportoptions > .content {
        width: 100%;
        height: 150px;
        background-color: burlywood;
    } */


    #upBtn {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      top: -41px;
      left: 10px;
      height: 22px;
      width: 22px;
      font-size: 20px;
      color: rgb(51, 51, 51);
      background-color: #ffffff;
      /* outline-color: gainsboro; */
      border: 1px solid #ddd;
      z-index: 100;
    }
    
      

    .item.left > button a:before {
        font-family: FontAwesome;
        content: "\f100";
        display: inline-block;
        color: rgb(51, 51, 51);
        /* padding-right: 3px; */
        /* vertical-align: middle; */
     }
     
     .item.left.collapsed > button a:before {
        content: "\f101";
     }

     .item.left.item.collapsed > button {
        right: -21px;
     }


     .item.right > button a:before {
        font-family: FontAwesome;
        content: "\f101";
        display: inline-block;
        color: rgb(51, 51, 51);
        /* vertical-align: middle; */
     }
     
     .item.right.collapsed > button a:before {
        content: "\f100";
     }

     .item.right.item.collapsed > button {
        left: -26px;
     }

     #reportoptions > button a:before {
        font-family: FontAwesome;
        content: "\f103";
        display: inline-block;
        color: rgb(51, 51, 51);

     }

     #reportoptions.collapsed > button a:before {
        content: "\f102";
     }


